@use 'constants' as *;

.chatbox {
  filter: drop-shadow(6px 6px 4px #ccc);
  left: 540px;
  top: 70px;
}
@media screen and (max-width: $bp-tablet) {
  .chatbox {
    z-index: initial;
  }
}
@media screen and (max-width: 810px) {
  .chatbox {
    left: initial;
    right: 30px;
  }

}

@media screen and (min-width: 811px) {
    .chatboxInner {
    width: 265px;
    height: 265px;
  }
}
@media screen and (max-width: 480px) {
    .chatboxInner {
        width: 140px;
        height: 140px;
    }
}
@media screen and (max-width: $bp-pc) {
  .chatbox {
    left: initial;
    right: 30px;
  }
}
// portrait media
@media screen and (min-width: 811px) and (orientation: portrait) {
  .chatbox {
    left: initial;
    right: 60px;
  }
}

.characterFade {
  height: 100%;
}
.overlayPane {
  top: 40vh;
  height: 60vh;
}
@media screen and (max-width: $bp-pc) {
  .overlayPane {
    top: 50vh;
    height: 50vh;
  }
}
.gatoImage {
  left: initial;
}
@media screen and (max-width: 480px) {
    .gatoImage {
        left: calc(70vw - calc(480px * calc(70 / 100))) !important;
    }
}
@media screen and (max-width: 810px) and (min-width: 481px){
  .gatoImage {
    left: calc(90vw - calc(810px * calc(70 / 100))) !important;
  }
}

.cptButton {
  width: 220px;
}

.gridPane {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: $bp-tablet) {
  .gridPane {
    grid-template-columns: 1fr;
  }
}
