@use 'constants' as *;

.logo {
  padding-right: 16px;
  margin-right: 16px;
}
@media screen and (max-width: $bp-tablet) {
  .logo {
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: $bp-tablet) {
  .topNav {
    justify-content: center;
  }
}
.login {
  margin-left: auto;
}
.loginPane {
    min-width: 70px;
}
.topNavTabLink.topNavTabLink {
  height: $navigation-height-pc;
  line-height: $navigation-height-pc;
}
.topNavTabLinkWithIcon.topNavTabLinkWithIcon {
  line-height: 12px;
}
@media screen and (max-width: $bp-pc) {
  .topNavTabLink.topNavTabLink {
    height: $navigation-height-sp;
    line-height: $navigation-height-sp;
  }
}
@media screen and (max-width: $bp-sp) {
  .topNavTabLink {
    flex: 1;
  }
}
@media screen and (max-width: $bp-tablet) {
  .login {
    margin-left: initial;
  }
  .bottomNav {
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    height: 80px;
    left: 0;
    right: 0;
    background-color: white;
  }
  .topNavTabLink {
    width: auto;
  }
}
@media screen and (max-width: $bp-pc) {
  .topNav {
    height: 80px;
  }
}

.userLink {
  margin-left: auto;
}
@media screen and (max-width: $bp-sp) {
  .userLink {
    margin-left: initial;
    position: absolute;
    right: 24px;
    flex: 1;
  }
}
